body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  background: #ebebeb
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.buttonList {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}
.imgShow {
  height: 120px;
  width: 150px;
}